* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.box {
  max-width: 275px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  margin: 20px;
  padding: 20px;
}

img {
  width: 275px;
}

img:hover{
    background-color: blue;
    transform: scale(0.5);
}

.btn{
    display: flex;
    justify-content: space-between;
}

button {
  border-radius: 20px;
  color: white;
  margin: 0 auto;
  padding: 10px 30px;
  margin-top: 20px;
  border: none;
  font-weight: 600;
}

.btn1 {
  background-color: gray;
  transition: all .75s;
}

.btn1:hover{
transform: scale(1.2) rotate(10deg);
}

.btn2 {
  background-color: lightgray;
  transition: all 10s;
}

.btn2:hover{
    transform: scale(1.2) rotate(370deg);
}

.text {
  margin-top: 20px;
  color: gray;
font-weight: 800;
}

h2{
font-weight: 800;
}
